.emails-list {
  font-family: $open-sans;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: block;
  box-sizing: border-box;

  overflow-y: auto;
  color: $font-color;

  min-height: 100%;
  min-width: 100%;

  height: 100%;
  width: 100%;

  padding: {
    top: 8px;
    left: 7px;
    right: 7px;
    bottom: 8px;
  };
}
