.email {
  height: 24px;
  display: inline-flex;
  font-family: $open-sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: $font-color;
  margin: {
    right: 8px;
    bottom: 2px;
    top: 2px;
  }

  &-chest {
    padding-top: 1px;
    padding-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &_valid {
    border-radius: 100px;
    padding-right: 8px;
    background: rgba(102, 153, 255, 0.2);
    padding: {
      left: 10px;
    };
  }

  &_invalid {
    border-bottom: 1px dashed #D92929;
    margin-right: 7px;
  }
}
