.new-email {
  font-family: $open-sans;
  max-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #C3C2CF;
  border: none;
  padding: 0;
  margin: 0;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    outline: none;
  }
}
