@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700")
}

$background-color: #FFFFFF;
$border-color: #C3C2CF;
$border-radius: 4px;
$font-color: #050038;
$open-sans: "Open Sans", sans-serif;

@import "Components/Email/Email";
@import "Components/EmailsList/EmailsList";
@import "Components/NewEmailInput/NewEmailInput";
